*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(82, 82, 99);
}

.titulo{
    margin-left: 518px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Manzano{
    margin-left: 500px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub{
    text-decoration: none;
}

.link{
    margin-left: 550px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.cta {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    margin-top: 20px;
    cursor: pointer;
 
  }
  .Button{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    justify-content: center;
  }
  .cta:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: black;
    z-index: -1;
  }
  
 .cta:hover, .cta:focus {
    color: white;
  }
  
  .cta:hover:before, .cta:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .cta:active {
    transform: scale(0.9);
  }